
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var products = (List<Models.EF.Product>)ViewBag.cart;
    var totalPrice = 0;
}
@section menu{
    @{Html.RenderAction("Menu", "Category");}
}

@section login {
    @{Html.RenderAction("Login", "Home");}
}



@section js_login{
    <script>
        var login1 = document.querySelector('.login-1');
        var check2 = login1.querySelector('.check-2');
        var check3 = login1.querySelector('.check-3');

        if (!check2.innerText) {
            check2.classList.add("hide-login");
            check3.classList.add("show");
        } else {
            check2.classList.remove("hide-login");
            check3.classList.remove("show");
            check3.classList.add("hide-login");
        }
    </script>
}

@section cart{
    <main class="main">
    <section class="main__cart">
        <div class="container">
            <div class="row">
                <div class="main__page-title">
                    <h1>Giỏ hàng</h1>
                </div>
            </div>
            <div class="row">
                <form action="/Cart/UpdateCart" class="form-cart" method="post">
                    <table class="main__item">
                        <tr class="item-1">
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>thành tiền</th>
                        </tr>

                        @foreach (var product in products)
                        {
                            <tr class="item-2">
                                <td>
                                    <div class="img">
                                        <img src="@Url.Content("~/Content/image/" +product.image)" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="product-name">
                                            <a href="">@product.name</a>
                                        </h3>
                                        <a href="/Cart/DeleteCart?id=@product.id" class="remove-product">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            <span>Xóa sản phẩm</span>
                                        </a>
                                    </div>
                                </td>
                                <td>@Convert.ToDecimal(product.price).ToString("#,##0")đ</td>
                                <td>
                                    <div class="qty">
                                        <p class="quality">
                                            <input type="text" name="@product.id" class="check-input" value="@product.qty" style="width:50px;">                                            
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    @{
                                        @Convert.ToDecimal(product.qty * product.price).ToString("#,##0")
                            totalPrice += Convert.ToInt32(Convert.ToDecimal(product.qty * product.price));

                                }đ
                            </td>
                        </tr>
                        }
                        <tr class="item-3">
                            <td colspan="4">
                                <button class="continue">Tiếp tục mua hàng</button>
                                <button class="update">Cập nhật só lượng</button>
                            </td>
                        </tr>
                    </table>
                    <div class="main__item">
                        <div class="sum-price">
                            <strong>Tổng tiền</strong>
                            <span>@totalPrice.ToString("#,##0")đ</span>
                        </div>
                        <button class="checkout" type="button">Thanh toán</button>
                        <div class="sum-product-show" style="margin:10px 0; padding:10px 0;border:1px solid #000;">Tổng số lượng sản phẩm : @(ViewBag.qty ?? "")</div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="overlay"></div>
</main>    
}
@section count_product{
    @{Html.RenderAction("GetCount", "Cart");}
}


@section jsFooter_cart{    
    <script src="~/Content/js/cart.js"></script>
    <script>
        var checkInput = document.querySelectorAll(".check-input");
        Array.from(checkInput);
        checkInput.forEach(function (item) {
            item.onblur = function (e) {
                if (isNaN(e.target.value)) {
                    alert("Vui lòng nhập giá trị là số");
                    e.target.value = 1;
                } else if ((e.target.value) % 1 != 0) {
                    alert("Vui lòng nhập số nguyên")
                    e.target.value = 1;
                }
                else if (e.target.value > 60) {
                    alert("Vui lòng nhập số lượng sản phẩm nhỏ hơn 60")
                    e.target.value = 1;
                }
            }
        })


        
    </script>
}
