
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="~/Content/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/reset.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body>
    <header class="heading">
        <div class="heading__heading-top">
            <div class="container">
                <div class="row">
                    <div class="heading__bar">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                    <a href="/" class="heading-logo"><span>GTU</span><small>mart</small><b>.vn</b></a>
                    <form action="/Home/Search" method="post" class="searching">
                        <input type="text" name="product-name" id="" placeholder="Nhập tên sản phẩm cần tìm">
                        <button><i class="fa fa-search" aria-hidden="true" id="search-product"></i></button>
                    </form>
                    <ul>
                        @RenderSection("login", required: false)
                        @RenderSection("count_product", required:false)
                      
                    </ul>
                </div>
            </div>
        </div>
        <nav class="heading__menu">
            <div class="container">
                <div class="row">
                    <ul>
                        <li class="heading--close">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </li>
                        <li><a href="/" class="">Trang chủ</a></li>
                        <li class="check">
                            <a href="/Product/ListProduct">Sản phẩm <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            @RenderSection("menu", required:false)
                        </li>
                        <li><a href="/Intro/Index">Giới thiệu</a></li>
                        <li><a href="/News/Index">Tin tức</a></li>
                    </ul>
                </div>
            </div>
        </nav>
       @RenderSection("banner", required:false)
   
    </header>
  
    @RenderSection("product", required: false)
    
    @RenderSection("detail", required:false)

    @RenderSection("cart", required:false)

    @RenderSection("order", required:false)

    @RenderSection("introduce", required:false)

    @RenderSection("modal", required:false)

    @RenderSection("search_product", required:false)

    @RenderSection("list_product_by_category", required:false)

    @RenderSection("show_list_product", required:false)

    @RenderSection("news", required:false)
    <footer class="footer">
        <section class="footer__footer-top">
            <div class="container">
                <div class="row">
                    <div class="footer__item">
                        <img src="~/Content/image/services/1.png" alt="">
                        <h3>Sản phẩm an toàn</h3>
                    </div>
                    <div class="footer__item">
                        <img src="~/Content/image/services/2.png" alt="">
                        <h3>Chất lượng cam kết</h3>
                    </div>
                    <div class="footer__item">
                        <img src="~/Content/image/services/3.png" alt="">
                        <h3>Dịch vụ vượt trội</h3>
                    </div>
                    <div class="footer__item">
                        <img src="~/Content/image/services/4.png" alt="">
                        <h3>Giao hàng nhanh chóng</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="footer__footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="footer__item">
                        <h3>CHĂM SÓC KHÁCH HÀNG</h3>
                        <ul>
                            <li>Trung tâm trợ giúp</li>
                            <li>Hướng dẫn mua hàng</li>
                        </ul>
                    </div>
                    <div class="footer__item">
                        <h3>Giới thiệu</h3>
                        <ul>
                            <li>Giới thiệu</li>
                            <li>Tuyển dụng</li>
                            <li>Điều khoản</li>
                        </ul>
                    </div>
                    <div class="footer__item">
                        <h3>Danh mục</h3>
                        <ul>
                            <li><a href="/Category/ListProduct?id=1">Thịt</a></li>
                            <li><a href="/Category/ListProduct?id=2">Bánh kẹo</a></li>
                            <li><a href="/Category/ListProduct?id=3">Nước uống</a></li>
                            <li><a href="/Category/ListProduct?id=4">Rau</a></li>
                            <li><a href="/Category/ListProduct?id=5">Sữa</a></li>
                        </ul>
                    </div>
                    <div class="footer__item">
                        <h3>Theo dõi chúng tôi</h3>
                        <ul>
                            <li><a href="">Facebook</a></li>
                            <li><a href="">Youtube</a></li>
                            <li><a href="">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <script src="~/Content/js/jquery-3.6.0.min.js"></script>
    @RenderSection("jsFooter_detail", required: false)
    
    @RenderSection("jsFooter_index", required: false)

    @RenderSection("jsFooter_cart", required: false)

    @RenderSection("js_login", required:false)

    <script>

        let showMenu = document.querySelector('.heading__bar');
        let hideMenu = document.querySelector('.heading--close');
        let overLay = document.querySelector('.overlay');
        let showDropDownMenu = document.querySelector('.check');
        let inputCheck = document.getElementById('check-input');

        showMenu.addEventListener('click', function () {
            document.querySelector('.heading__menu').classList.add('show-menu');
            document.body.style.overflow = "hidden";
            overLay.style.display = "block"
        });

        hideMenu.addEventListener('click', function () {
            document.querySelector('.heading__menu').classList.remove('show-menu');
            document.body.style.overflow = "visible";
            overLay.style.display = "none";
            document.querySelector('.drop-down').classList.remove('show');
        });

        showDropDownMenu.addEventListener('click', function () {
            document.querySelector('.drop-down').classList.toggle('show');
        });
        

        // overLay.onclick = function() {
        //     document.querySelector('.heading__menu').classList.remove('show-menu');
        //     overLay.style.display = "none";
        //     document.querySelector('.drop-down').classList.remove('show');
        // }
        
        document.querySelector('form.detail').onsubmit = function (e) {
            e.preventDefault();
        }
        
    </script>

    
</body>
</html>